---
Language: Cpp
BasedOnStyle: Chromium
IndentWidth: 4
SortIncludes: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: true
---
