---
Language: Cpp
BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 120
BreakStringLiterals: false
SortIncludes: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: true
---
